@charset "utf-8";
.banner{
	min-width:1200px;
	overflow: hidden;
	text-align: center;
	position: relative;
}
#focus-banner{
	position: relative;
	width: 100%;
	height: 500px;
}

#focus-banner-list{
	position: relative;
	height: 500px;
}
#focus-banner-list li{
	width: 100%;
	overflow: hidden;
	height: 500px;
}
#focus-banner-list li a{
	height: auto;
}
#focus-banner-list li img{
	width: 100%;
	min-height: 500px;
	-ms-interpolation-mode: bicubic;
}
.focus-banner-img{
	display: block;
	width: 100%;
	 min-height: 480px;
	  transform: scaleX(1.1) scaleY(1.1);
	  -webkit-transform: scaleX(1.1) scaleY(1.1);
	  animation: scal 16s ease infinite alternate;
	  -webkit-animation: scal 16s ease infinite alternate;
	}
/*首页banner*/
@keyframes scal {
  from {
    -webkit-transform: scale(1.06,1.06);
  }
  to {
    -webkit-transform: scale(1,1);
  }
}
@-webkit-keyframes scal {
  from {
    -webkit-transform: scale(1.1,1.1);
  }
  to {
    -webkit-transform: scale(1,1);
  }
}
/*#banner {
  width: 100%;
  overflow: hidden;
  float: left;
  position: relative;
}*/
/*#banner .banner_in {
  width: 100%;
  min-height: 480px;
  transform: scale(1,1);
  -webkit-transform: scale(1,1);
  animation: scal 10s ease infinite alternate;
  -webkit-animation: scal 10s ease infinite alternate;
}*/






#focus-banner-list .focus-banner-text{
	position:relative;
	left:0;
	bottom:320px;
	width:100%;
	min-width: 1200px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	/*background:rgba(0,0,0,0.3);*/
	z-index: 99;
	display: none;
}
#focus-banner-list .focus-banner-text p{
	height: 60px;
	line-height: 60px;
	width: 800px;
	margin: 0 auto;
	font-size: 24px;
	font-weight: lighter;
	color: #ffffff;
}
#focus-banner .focus-handle{
	position: absolute;
	top: 50%;
	margin-top: -40px;
	z-index: 100;
	display: block;
	width: 80px;
	height: 80px;
	background-image: url("../images/focus_handle.png");
}
#next-img{
	left: 0;
}
#next-img{
	left: 50px;
	background-position: 0 0;
}
#next-img:hover{
	background-position: 0 -80px;
}
#prev-img{
	right: 0;
}
#prev-img{
	right: 50px;
	background-position: -80px 0;
}
#prev-img:hover{
	background-position: -80px -80px;
}

#focus-bubble{
	width: 150px;
	height: 24px;
	background: #1b1b1b;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	z-index: 100;
	display: none;
}
#focus-bubble li{
	float: left;
	width: 12px;
	height: 12px;
	margin: 5px 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}
#focus-bubble li.current{
	background-color: #f1781d;
}