@charset "utf-8";
body, form, table, input, button, ul, li, a, p, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

p {
    color: black;
}

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
}

ul, ol, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, tr, td, thead, tbody, img {
    margin: 0;
    padding: 0;
    border: 0;
}

.clear {
    clear: both;
}

.footeriframe {
    clear: both;
    height: 130px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20% ;
}

@font-face {
    font-family: 'iconfont';  /* project id 174683 */
    src: url('//at.alicdn.com/t/font_5qbexvd5a3t2zkt9.eot');
    src: url('//at.alicdn.com/t/font_5qbexvd5a3t2zkt9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_5qbexvd5a3t2zkt9.woff') format('woff'),
    url('//at.alicdn.com/t/font_5qbexvd5a3t2zkt9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_5qbexvd5a3t2zkt9.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
}

.neiye {
    width: 1200px;
    height: auto !important;
    margin: 10px auto;
}

.neiyeLeft {
    width: 214px;
    height: auto !important;
    float: left;
}

.neiyeTitle {
    width: 214px;
    height: 37px;
    background: url(../images/neiyeTitle.jpg) no-repeat;
}

.neiyeTitle b {
    line-height: 37px;
    padding-left: 35px;
    font-size: 14px;
    color: #FFF;
    font-weight: normal;
}

.neiyeCon {
    width: 196px;
    border: #dcdcdc solid 1px;
    border-top: none;
    background: #FFF;
    padding: 8px;
}

.neiye_nav {
    overflow: hidden;
    display: block;
}

.neiye_nav li {
    width: 174px;
    display: inline-block;
    margin-top: 6px;
    float: left;
    line-height: 26px;
    display: inline-block;
    padding-left: 20px;
    border: #96c5d9 solid 1px;
    background: url(../images/IconBg.png) #dff6ff -185px -79px no-repeat;
}

.neiye_nav li a {
    color: #333;
    text-decoration: none;
}

.neiye_nav li a:hover {
    text-decoration: underline;
}

.neiyeRight {
    width: 1200px;
    height: auto !important;
    border: #dcdcdc solid 1px;
    background: #FFF;
    padding: 10px;
}

.neiyeRight_left {
    overflow: hidden;
    text-align: right;
    border-bottom: #0067b7 solid 2px;
    line-height: 30px;
    background: url(../images/IconBg.png) -188px -123px no-repeat;
    padding-left: 15px;
}

.neiyeRight_left b {
    display: block;
    float: left;
    font-size: 14px;
    color: #0067b7;
}

.neiyeRight_left a {
    color: #666;
    text-decoration: none;
}

.neiyeRight_left a:hover {
    text-decoration: underline;
}

.neiyefont {
    overflow: hidden;
    padding: 10px 10px;
}

.neiyefont p {
    text-indent: 2em;
    line-height: 24px;
    font-size: 14px;
    color: #666;
    padding-bottom: 15px;
}

.neiyefont b {
    color: #0067b7;
    font-size: 14px;
    line-height: 24px;
}

.news_List_con {
    overflow: hidden;
    padding: 10px;
    display: block;
}

.news_List_cons {
    overflow: hidden;
    padding: 10px;
    display: block;
}

.news_List_cons li {
    overflow: hidden;
    float: left;
    width: 167px;
    height: 55px;
    padding: 5px;
    display: block;
}

.news_List_con li {
    line-height: 30px;
    display: block;
    border-bottom: dashed #dcdcdc 1px;
    padding-left: 10px;
    background: url(../images/IconBg.png) -197px -52px no-repeat;
}

.news_List_con li a {
    color: #666;
    text-decoration: none;
}

.news_List_con li a:hover {
    text-decoration: underline;
}

.news_List_con li span {
    display: block;
    float: right;
    color: #666;
}