@charset "utf-8";
header{
	height:130px;
	width: 100%;
	min-width:1200px;
	background: #FFFFFF;
	border-bottom: 0px solid #B68555;
	position: fixed;
	z-index: 999;
}
.headerMiddle{
	width: 1200px;
	margin: 30px auto;
}
header .indexNav{
	width: 1200px;
	height:99px;
	margin: 0 auto;
	position: relative;
	float: left;
}
.otherNav{
	width:1000px;
	height:99px;
	margin: 0 auto;
	position: relative;
	float: left;
}
header nav li{
	min-width: 100px;
	float: left;
	margin-right:0;
}
p{
	color: #0000;
}
header nav li a{
	color: #6B6969;
	font-size: 18px;
	text-align: center;
	line-height:99px;
}
header nav li:hover a{
	color: #15b8d7;
}
.otherNav{
	width:1098px;
	height:99px;
	margin: 0 auto;
	position: relative;
	float: left;
}
.otherNav li{
	min-width: 120px;
	text-align: center;
	margin-left: 80px;
}
header .hLogo{
	float: left;
}
header .hLogo img{
	max-width: 102px;
	min-width: 102px;
}
.activeNav{
	color: #6B6969;
}
.languageBtn{
	position: absolute;
	right: 0;
	top: 0;
	width: 62px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #15B8D7;
	color: #FFFFFF;
	font-size: 14px;
	cursor:pointer;
	display: none;
}
/*头部结束*/
/*banner开始*/
.bannerTop{
	height: 130px;
}
.banner{
	width: 100%;
	min-width: 1200px;
	min-height: 500px;
	max-height: 500px;
	/*background: url(../images/banner.jpg) no-repeat center;*/
	position: relative;
	overflow: hidden;
}
.bannerImg img{
	width: 100%;
	min-height: 500px;
	max-height: 500px;
	min-width: 1200px;
	display: block;
	/*transform: scaleX(1.1) scaleY(1.1);
	-webkit-transform: scaleX(1.1) scaleY(1.1);
	animation: scal 13s ease infinite alternate;
	-webkit-animation: scal 13s ease infinite alternate;*/
}
.logo{
	width: 213px;
	height: 249px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -106px;
	margin-top: -124px;
}
.black_bg{
	width: 100%;
	min-width: 1200px;
	min-height: 500px;
	background:rgba(62,58,59,0.45);
	z-index:99;
	position: absolute;
	top: 0;
	display: none;
}

/*首页banner动画*/
/*@keyframes scal {
  from {
    -webkit-transform: scale(1.3,1.3);
  }
  to {
    -webkit-transform: scale(1,1);
  }
}
@-webkit-keyframes scal {
  from {
    -webkit-transform: scale(1.3,1.3);
  }
  to {
    -webkit-transform: scale(1,1);
  }
}*/
/*首页banner动画*/
/*banner结束*/
/*欢迎模块开始*/
.welcome{
	width: 100%;
	min-width: 1200px;
	height: 125px;
/*	height: 289px;*/
	/*background: #15B8D7;*/
	text-align: center;
	color: #FFFFFF;
	/*padding: 20px 0;*/
}
.welcome{
	background: url(../images/subbanner.png) no-repeat center;
}
.welcome h1{
	width: 1200px;
	line-height: 100px;
	margin: 0 auto;
	font-size: 48px;
	font-weight: 400;
}
.welcome p{
	width: 1200px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 28px;
}
.welcomBtn{
	width: 145px;
	height: 39px;
	margin: 60px auto;
}
.welcomBtn a{
	display: block;
	width: 145px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	background: #0297ce;
}
.welcomBtn a:hover{
	background: #146f90;
	color: #e7eaea;
}
/*欢迎模块结束*/
/*阴影三模块开始*/
.shadow{
	width: 1200px;
	height: 500px;
	margin: 30px auto 80px;
	overflow: hidden;
	transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    background: #FFFFFF;
    display: flex;
}
.sectionShadow{
	flex: 1;
	width: 370px;
	height: 460px;
	border: 1px solid #eaeaea;
	float: left;
	position: relative;
	margin-right: 55px;
	box-shadow: 0px 56px 36px  -60px #121D12;
	-webkit-box-shadow: 0px 56px 36px -60px #121D12;
    -moz-box-shadow: 0px 56px 36px -60px #121D12;
    -o-box-shadow: 0px 56px 36px -60px #121D12;
}
.sectionShadow:nth-child(3){
	margin-right: 0;
}
.shadowImg{
	width: 320px;
	height: 130px;
	margin: 0 auto;
	overflow: hidden;
}
.shadowImg img{
	transition: all 0.6s;
}

.shadowImg img:hover{
	 -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -transform: scale(1.4);
      transform: scale(1.4);
}
.shadowTitle{
	width: 320px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #454545;
	font-size: 22px;
	border-bottom: 1px solid #eaeaea;
	margin: 0 auto;
}
.shadowFont{
	width: 320px;
	margin: 26px auto;
	text-align: left;
	color: #949191;
}
.shadowBtn{
	width: 320px;
	margin: 0 auto;

}
.shadowBtn a{
	display: block;
	width: 82px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 14px;
	background: #B68555;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -41px;
}
.shadowBtn a:hover{
	text-decoration: underline;
}
/*阴影板块结束*/
/*关于公司模块*/
.Fullscreen{
	width: 100%;
	min-height: 455px;
	min-width: 1200px;
	background:url(../images/web-3.png) center bottom fixed;
	overflow: hidden;
}
.companyIntroduce{
	width: 1200px;
	margin: 30px auto;
}
.aboutUs{
	width: 350px;
	float: left;
	margin-top:50px ;
}
.aboutTitel{
	font-size: 22px;
	color: #5f604b;
	line-height: 36px;
	margin-bottom: 30px;
	text-align: left;
}
.aboutFont{
	color: #5f604b;
	font-size: 16px;
	line-height: 26px;
}
.aboutFont img{
	width: 100%;
}
.aboutFont span{
	color: #2f8a9b;
}
.aboutFont li{
	list-style:disc;
	margin-bottom: 20px;
	font-size: 16px
}
.whatDo{
	width: 780px;
	margin-top: 90px;
	float: right;
}
.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}
.clash-card {
  width: 300px;
  display: inline-block;
  margin: auto;
  position: relative;
  z-index: 9999;
}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*左右切换按钮*/
.slick-prev,
.slick-next
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 18px;
    color: #FFFFFF;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: #7e7f6f;
    z-index: 99;
}
.slick-next{
	left:30px;
}
/*左右切换按钮*/
/*关于公司模块*/
/*底部開始*/
.footFull{
	width: 100%;
	min-width: 1200px;
	height: 320px;
	background: #15b8d7;
}
.footerMiddle{
	width: 1200px;
	margin: 0 auto;
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */

	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
}
.footerSection{
	-webkit-box-flex: 1.0;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	flex-shrink: 1;
	margin-right: 30px;
	flex: 1;
}
.footerSection h3{
	line-height: 72px;
	font-size: 18px;
	color: #FFFFFF;
}
.footerSection li{
	line-height: 48px;
	border-bottom: 1px solid #58cce2;
}
.footerSection li a{
	color: #FFFFFF;
	font-size: 14px;
	line-height: 48px;
}
.footerSection li a:hover{
	color: #0297CE;
}
.footContent span{
	display: inline-block;
	width: 40px;
}
.footContent p{
	width: 238px;
	color: #FFFFFF;
	line-height: 36px;
}
.footLast{
	margin-right: 0;
}
.footContent p img{
	vertical-align: top;
	margin-top: 10px;
}
.Friend_link{
	width: 1200px;
	margin: 20px auto;
	color: #FFFFFF;
}
.Friend_link a{
	display: inline-block;
	/*width: 110px;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #f8f8f8;*/
	text-align: left;
	line-height:50px;
	/*vertical-align: middle;*/
	margin:0 10px;
	color: #fbfafa;
}
.Friend_link a:hover{
	text-decoration: underline;
}
.Friend_link a img{
	width: 84%;
	vertical-align: middle;
}
footer{
	width: 100%;
	min-width: 1200px;
	height: 66px;
	background: #323a45;
	overflow: hidden;
}
footer p{
	width: 1200px;
	font-size:14px;
	text-align: center;
	color: #FFFFFF;
	margin: 20px auto;
}
footer p a{
	color: #FFFFFF;
	font-size: 14px;
	/*float: right;*/
}
footer p a:hover{
	text-decoration: underline;
}
/*底部結束*/

/*內頁主要內容開始*/
.content{
	width: 1200px;
	margin: 15px auto;
	overflow: hidden;
}
/*左側菜單*/
.leftNav{
	width: 250px;
	margin-right: 40px;
	float: left;
}
.leftTitle{
	width: 210px;
	height: 45px;
	background: #15b8d7;
	padding: 0 20px;
	line-height: 45px;
	color: #FFFFFF;
	font-size: 16px
}
.leftTitle i{
	font-size: 22px;
	width: 26px;
	margin-right: 10px;
}
.leftNav ul li{
	background: #eeeeee;
	border-bottom: 2px solid #FFFFFF;
	height: 45px;
	line-height: 45px;
}
.leftNav ul li i{
	display: inline-block;
	width: 26px;
	font-size: 22px;
	vertical-align: middle;
	margin-right:10px;
}
.leftNav ul li a{
	padding: 0 20px;
	color: #8e8e8e;
}
.leftNav ul li a:hover{
	font-weight: 600;
}
.leftNav ul li a:hover i{
	font-weight: 500;
}
.leftActive{
	font-weight: 600;
}
.leftActive i{
	font-weight: 500;
}
/*左側菜單*/
.rightMain{
	float: right;
	width: 910px;
}
/*右側麵包屑導航*/
.rightCrumbs{
	width:1200px;
	height: 40px;
	padding:0 10px;
	background: #efefef;
	line-height: 40px;
	color: #8b8b8b;
	margin-bottom: 15px;
}

.rightCrumbs a{
	color: #8b8b8b;
}
.rightCrumbs a.crumbsActive{
	color: #15b8d7;
}
/*內頁主要內容開始*/
.rightSection{
	width: 890px;
	margin:0 0 20px;
}
.paragraph{
	color: #555151;
}
.paragraph span{
	color: #15b9d7;
	font-size: 16px;
	line-height: 24px;
}
.paragraph p{
	margin-bottom: 20px;
	font-size: 16px;
	color: #8b8b8b;
}
.rightSection img{
	max-width: 890px;
}
.mainTitle{
	font-size: 22px;
	color: #15b8d7;
	line-height:60px;
}
.dotContent span{
	display: inline-block;
	width: 10px;
	height:60px;
	margin: 0 15px;
	vertical-align: top;
}
.dotContent span i{
	color: #15b8d7;
	margin-top: 5px;
	font-size: 26px
}
.dotContent p{
	max-width: 850px;
	display: inline-block;
	font-size: 16px;
	color: #959595;
	line-height: 30px;
	margin-bottom: 20px;
}
.scrollContent{
	background: #f8f8f8;
	overflow-y: scroll;
	padding: 20px;
	height: 500px;
}
.scrollContent p{
	color: #868686;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;
}
/*员工列表开始*/
.employee{
	display: table;
	width: 1160px;
}
.employeeSection{
	width: 250px;
	float: left;
	margin-right:84px;
	display: table-cell;
	margin-bottom: 60px;
	overflow: hidden;
}
.employeeImg{
	width: 137px;
	min-height: 50px;
	max-height: 198px;
	margin: 0 auto;
	text-align: center;
	transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    display: none;
}
.employeeImg img{
	max-width: 137px;
	-webkit-box-shadow: 4px 4px 4px #8e8e8e;
  	-moz-box-shadow: 4px 4px 4px #8e8e8e;
  	box-shadow: 4px 4px 4px #8e8e8e;
  	transition: all 0.6s;
}
.employeeImg img:hover{
	 -webkit-transform: scale(1.1);
    -moz-transform: scale(1.12);
    -transform: scale(1.1);
      transform: scale(1.1);
}
.employeeName{
	text-align: center;
	font-size: 18px;
	color: #1c1c1c;
	line-height: 60px;
	/*border-bottom: 1px solid #c9c9c8;*/
}
.employeeInform{
	text-align: left;
	margin: 15px 0;
}
.employeeInform p{
	line-height: 26px;
	color: #807f66;
	font-size: 16px
}
.employeeInform a{
	color: #15b9d6;
	text-decoration: underline;
}
.employeeInform a:hover{
	color: #139bb3;
}
/*员工列表结束*/


/*技术列表*/
.technology{
	padding: 30px 0;
	overflow: hidden;
	border-bottom:1px solid #e3e3e3;
}
.technologyIcon{
	width: 200px;
	height: 170px;
	line-height: 230px;
	float: left;
	text-align: center;
	display: none;
}
.technologyIcon img{
	max-width: 160px;
}
.technology:hover .technologyIcon{
	color: #FFFFFF;
}
.technologyIcon i{
	font-size: 80px;
	color: #6c6c6d;
}
.technologyFont{
	width: 910px;
	float: left;
}
.technologyTitle{
	font-size: 24px;
	color: #6c6c6d;
	line-height: 34px;
}
.technologyTitle span{
	color: #15b8d7;
}
.technologyContent{
	color: #8b8b8b;
}
.technologyContent span{
	display: inline-block;
}
.technologyContent p{
	display: inline-block;
	width: 650px;
	line-height: 30px;
	color: #8b8b8b;
}
.technologyContent span i{
	color: #15b8d7;
}
/*技术列表结束*/
/*新闻列表开始*/
.newsList{
	margin: 20px 0;
}
.newsList li{
	padding: 15px 0;
	border-bottom: 1px dashed #b9b9b9;
	overflow: hidden;
}
.newLi p{
	width: 620px;
	float: right;
}
.newsList li span{
	display: inline-block;
	width: 250px;
	float: left;
}
.newsList li span img{
	width: 100%;
	max-height: 170px;
}
.newsList li p{
	display: inline-block;
	font-size: 16px;
}
.newsList li p span{
	display: inline-block;
	float: left;
	margin-right: 100px;
}
.newsList li a{
	color: #555151;
}
.newsList li a:hover p{
	color: #15b8d7;
	text-decoration: underline;
}
/*新闻列表结束*/

.press{
	width: 1060px;
}
.pressContent{
	width: 370px;
	float: left;
	margin-right: 150px;
}
.pressImg{
	float: left;
}
.pressFont{
	width: 250px;
	float: right;
}
.pressTitle{
	font-size: 18px;
	color: #15b8d7;
}
.pressXq{
	font-size: 14px;
	color: #959595;
}

/*服务开始*/
.Services{
	width: 920px;
}
.servicesFont{
	width: 394px;
	height: 200px;
	background: #f9f9f9;
	float: left;
	margin: 0 5px 5px 0;
	padding: 30px;
}
.servicesTitle{
	font-size: 20px;
	color: #15b8d7;
	line-height: 60px;
}
.servicesList span{
	display: inline-block;
	color: #15b8d7;
}
.servicesList p{
	display: inline-block;
	width: 340px;
	line-height: 36px;
	color: #8b8b8b;

}
.newsTitle{
	color: #15b8d7;
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
}

.downList li{
	width: 100px;
	float: left;
	margin-right: 50px;
}
.downList li img{
	-webkit-box-shadow: 4px 4px 4px #8e8e8e;
  	-moz-box-shadow: 4px 4px 4px #8e8e8e;
  	box-shadow: 4px 4px 4px #8e8e8e;
  	transition: all 0.6s;
}
.downList li img:hover{
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -transform: scale(1.1);
      transform: scale(1.1);
}

.downList li a p{
	color: #656565;
}
.downList li a:hover p{
	color: #4c7bb2;
}
.rightSection img:hover{
	opacity: 0.9;
}
.min_banner{
	width: 100%;
	min-width: 1200px;
	height: 200px;
	background: url(../images/5539fa8695303.jpg) no-repeat center;
}
.min_banner1{
    margin-top: auto;
	background: url(../images/5539fa8695303.jpg) no-repeat center;
}
.min_banner2{
	background:url(../images/5539fa8695303.jpg) no-repeat center;
}
.online_content{
	height: 540px;
	width: 100%;
	min-width: 1200px;
	background: url(../images/online.jpg) no-repeat center;
	position: relative;
}
.online_form{
	width: 260px;
	height: 350px;
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: 260px;
	background: #FFFFFF;
	padding: 20px;
}
.onlineTitle{
	font-size: 20px;
	line-height: 26px;
	color: #07a5c3;
	margin-bottom: 30px;
}
.onlie_section{
	margin-bottom: 15px;
}
.onlie_section input{
	height: 46px;
	width: 90%;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 0 10px;
}
.onlie_section .online_id{
	width: 140px;
}
.online_Code{
	float: right;
	width: 75px;
}
.online_Code img{
	max-width: 75px;
	display: block;
	margin-top: 5px;
}
.onlie_section input[type=submit]{
	width: 100px;
	height: 40px;
	background:#2EB5E5;
	color: #FFFFFF;
}

.footer{
	background-color: #474d62;
	text-align: center;
	padding: 20px 0;
	color: #9aa0b8;
	font-size: 14px;
	line-height: 24px;
	width: 100%;
}
.footer .links{
	margin: 15px 0;
	font-size: 16px;
}
.footer .links a{
	color: #cdd1e0;
	padding: 0 18px;
	border-right: 1px solid #848aa2;
}
.footer .links a.last{
	border: 0 none;
}
.footer .mr{
	margin-right: 20px;
}
/*內頁主要內容結束*/